.main{
  .logo-con{
    height: 64px;
    padding: 10px;
    img{
      height: 44px;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }
  .header-con{
    background: #fff;
    padding: 0 20px;
    width: 100%;
  }
  .main-layout-con{
    height: 100%;
    overflow: hidden;
  }
  .main-content-con{
    height: ~"calc(100% -60px)";
    overflow: hidden;
  }
  .tag-nav-wrapper{
    padding: 0;
    height: 40px;
    background: #F0F0F0;
  }
  .content-wrapper{
    padding: 18px;
    height: ~"calc(100% - 80px)";
    overflow: auto;
  }
  .left-sider{
    .ivu-layout-sider-children{
      overflow-y: scroll;
      margin-right: -18px;
    }
  }
}
.menu-icon{
  transition: all .3s;//旋转变化时间
}
.menu-icon:hover{
  color: #2d8cf0;
}
.rotate-icon{
  transform: rotate(90deg);//逆时针旋转90度
}
// .layout{
//   border: 1px solid #d7dde4;
//   background: #f5f7f9;
//   position: relative;
//   border-radius: 4px;
//   overflow: hidden;
//   &-header-bar{
//     background: #fff;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
//   }
//   &-logo-left{
//     width: 90%;
//     height: 30px;
//     background: #5b6270;
//     border-radius: 3px;
//     margin: 15px auto;
//   }
// }
// .menu-icon{
//   transition: all .3s;
// }
// .rotate-icon{
//   transform: rotate(-90deg)
// }
// .menu-item span{
//   display: inline-block;
//   overflow: hidden;
//   width: 69px;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   vertical-align: bottom;
//   transition: width .2s ease .2s;
// }
// .menu-item i{
//   transform: translateX(0px);
//   transition: font-size .2s ease, transform .2s ease;
//   vertical-align: middle;
//   font-size: 16px;
// }
// .collapsed-menu span{
//   width: 0px;
//   transition: width .2s ease;
// }
// .collapsed-menu i{
//   transform: translateX(5px);
//   transition: font-size .2s ease .2s,transform .2s ease .2s;
//   vertical-align: middle;
//   font-size: 22px;
// }
// .left-sider{
//   .ivu-layout-sider-children{
//     overflow-y: scroll;
//     margin-right: -18px;
//   }
// }